:root {
  --color-primary: black;
  --color-primary-light: grey;
  --color-secondary: white;
  --color-accent: red;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: black;

  --font-primary: "Akzidenz-Grotesk BQ", sans-serif;
  --font-secondary: "Arial", sans-serif;
}

html {
  font-family: var(--font-primary);
  var(--font-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-primary);
}
